*,html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
body{
  display: flex;
  flex-flow:nowrap;
  justify-content: center;
}
.border{
  border: 1px solid black;
}
h1{
  font-size: 5rem;
}
.arcade{
  margin-top: 1rem;
  /* background:gray; */
  width: 1200px;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
}
.titleSection{
  width: 86%;
  height: 180px;
  border: 1px solid black;
  text-align: center;
  border:8px solid rgba(67,67,67,.9);
}

.displaySection{
  width:81%;
  height:475px;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border:8px solid rgba(67,67,67,.9);
  border-top: none;
}
/* color:rgba(67,67,67,.9); */
.screen{
  width: 87.2%;
  height: 80%;
  border:1rem solid rgba(67,67,67,.9);
  border-radius:255px 255px 255px 255px / 45px 45px 45px 45px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80% 20%;
}
.reelContainer{
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.reel1{

}
.reel2{

}
.reel3{

}
.gameData{
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.buttonSection{
  display: flex;
  justify-content: center;
  background-color: gray;
  position: relative;
  width: 100%;
  height: 25vh;
  clip-path:polygon(
    9.35% 0%,
    90.60% 0%,
    100% 100%,
    0%  100%
    );
  border:8px solid rgba(67,67,67,.9);
  border-top: none;
  padding-top: 1rem;
}
.buttonContainer{
  width: 81.25%;
  display: flex;
  justify-content:space-between;
}

.leftSide{
  width: 40%;
  display: grid;
  grid-template-columns: 47% 47%;
  grid-template-rows: 47% 47%;
  grid-row-gap: 3%;
  grid-column-gap: 3%;
}
.green{
  background-color: rgba(179,198,92,.7)
}
button{
  font-size: 2.5rem;
  border: none;
  margin: 0;

}
#statusButton{
  float: left;
}
#minBetButton{
  width: 62%;
  height: 100%;
  border-radius: 50%;
  display: block;
}
#maxBetButton{
  width: 62%;
  height: 100%;
  border-radius: 50%;
  display: block;
}
#decrementFiveButton{
  width: 62%;
  height: 100%;
  border-radius: 50%;
  display: block;
}
#incrementFiveButton{
  width: 62%;
  height: 100%;
  border-radius: 50%;
  display: block;
}

.rightSide{
  width: 60%;
  display: flex;
  justify-content:space-around;
  align-items: center;

}

#spinButton,#resetButton{
  width: 27%;
  height: 48%;
  border-radius: 50%; */
  /* display: block; */
}
.buttonFlex{
  width: 95%;
  height:95%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.buttonLabel{
  color: white;
  font-size: 2rem;
  text-align: center;
}
.runOff{
  border:8px solid rgba(67,67,67,.9);
  border-top: none;
  border-bottom: none;
  width: 100%;
  height: 4.2vh;
}
